Classroom Info
<%= render 'classroom' %>

<h3>Here are all of the students</h3>
<% @classroom.students.each do |student|%>
    <p>
        <%= render partial: 'students/student', locals: {student: student} %>
    </p>
<% end %>